/*var defs*/
* {
    --color-key: #486081;
    --slide-background: #f6fdf5;
    --color-prim: #1a4e66;
    --color-sec: #e26c22;
    --color-ter: white;
    --color-href: var(--color-sec);
}

.caption {
    border-top: 10px solid var(--color-prim);
    background: var(--color-prim);
    padding-bottom: 0;
}

.caption .title {
    padding-left: 0.5em;
}

.caption h1 {
    color: var(--color-ter);
    font-weight: bold;
}

header .subtitle {
    font-weight: bold;
    padding: 0.4em;
}

header .author {
    font-size: 0.6em;
    padding-bottom: 0.3em;
    line-height: 1.1em;
}

header .affiliation {
    font-size: 0.5em;
    font-style: italic;
}

header .venue {
    font-size: 0.5em;
    font-style: italic;
}

.captiondata {
    background-color: var(--color-prim);
    padding: 0.5em;
}

.caption .captiondata p {
    color: var(--color-ter);
}

body > footer {
    grid-column: 1 / -1;
    width: 100vw;
    margin-left: calc( -1 * var(--slide-gap) * var(--slide-scale) - env(safe-area-inset-left) );
    /*margin-bottom: -48px;*/
    background-color: var(--color-prim);
    margin-bottom: calc(
            -1 *
            var(--slide-gap) *
            var(--slide-scale) -
            env(safe-area-inset-bottom)
    );

    display: flex;
    flex-direction: column;
    color: var(--color-ter);
    align-items: start;
    justify-items: center;
    justify-content: center;
    padding: 30px 60px;
    font-size: 1rem;

}

body > footer svg {
    height: 1.25rem;
    width: 1.25rem;
    margin: 0;
    position: inherit;
    fill: var(--color-ter);
}

body > footer a {
    margin: 0;
}

@media print {
    .slide {
        background: white;
    }

    footer {
        display: none;
    }

    .slide.index {
        border-top: none;
        border-bottom: none;
    }
}